<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clients table</title>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/local_styles.css" %}" rel="stylesheet">
    <link href="{% static "css/fileinput.css" %}" media="all" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<script src="{% static "jquery/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/fileinput.js" %}"></script>
<script type="text/javascript">
 $(document).ready(function() {
        $("#input-id").fileinput({'showPreview':false, 'uploadLabel':"Add from file"});
    });

function update_client(name, age, legal_entity){
    window.location.href ="/clients/update?name="+name+"&age="+age+"&legal_entity="+legal_entity;
}
</script>
<nav class="navbar navbar-default" role="navigation">
     <div class="container-fluid">
          <div class="navbar-header">
    <a class="navbar-brand">Clients table</a>
              </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 <form class="navbar-form" role="search" method="get">
      <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                    <span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
                </div>
     </form>
              </div>
         </div>
</nav>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th><form class="navbar-form" method="get">
               <div class="input-group">
                   <span class="input-group-addon"><b>Client name</b></span>
                    <input type="text" class="form-control" name="filter_names">
                    <span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span></button></span>
                </div>
            </form></th>
        <th>Age</th>
        <th><form class="navbar-form" method="get">
               <div class="input-group">
                   <span class="input-group-addon"><b>Legal entity</b></span>
                        <span class="input-group-addon"><input type="checkbox" class="btn btn-default" name="filter_legal_entity"></span>
                    <span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span></button></span>
                </div>
            </form></th>
        <th/>
    </tr>
    </thead>
    <tbody>
    {% if clients_list %}
    {% for client in clients_list %}
    <tr onclick="update_client('{{client.name}}', {{client.age}}, {{client.legal_entity}})">
        <td>{{client.name}}</td>
        <td>{{client.age}}</td>
        <td>{{client.legal_entity}}</td>
        <td>
            <form method="get" action="{{request.path}}delete">
                 <input type="submit" value="Delete" class="btn btn-danger"/>
                 <input type="hidden" name="name" value="{{shop.name}}"/>
             </form>
        </td>
    </tr>
            {% endfor %}
    {% else %}
    <tr><td>No clients are available.</td><td/><td/><td/></tr>
    {% endif %}
    </tbody>
</table>
<div class="row" align="center">
    <div class="col-md-4">
        <form method="get" action="{{request.path}}add">
            <input type="submit" value="Add client" class="btn btn-primary btn-lg"/>
        </form>
    </div>
   <div class="col-md-7" align="center" >
        <form  method="post" role="form" enctype="multipart/form-data" action="{{request.path}}add/">{% csrf_token %}
                     <div class="form-group"><input id="input-id" type="file" name="file" ></div>
        </form>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>