<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shops table</title>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<script src="{% static "jquery/jquery.min.js" %}" type="text/javascript"></script>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">{{title}}</a>
        </div>
        </div>
    </nav>
<form method="post" action="{{request.path}}finish">{% csrf_token %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Client name</th>
        <th>Age</th>
        <th>Legal entity</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="text" name="new_name" value="{{name}}" placeholder="Client's name"/></td>
        <td><input type="text" name="age" value="{{age}}" placeholder="Client's age"/></td>
        <td><input type="checkbox" name="legal_entity" {% ifequal legal_entity|add:0 1 %}checked="checked"{% endifequal %}/></td>
        <td><input type="hidden" name="old_name" value="{{name}}"/></td>
        <td><input type="submit" value="Update" class="btn btn-primary"/></td>
    </tr>
    </tbody>
</table>
</form>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>