<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sales table</title>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/local_styles.css" %}" rel="stylesheet">
    <link href="{% static "css/fileinput.css" %}" media="all" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<script src="{% static "jquery/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/fileinput.js" %}"></script>
<script type="text/javascript">
 $(document).ready(function() {
        $("#input-id").fileinput({'showPreview':false, 'uploadLabel':"Add from file"});
    });

function update_sale(name, productId, shopId, number){
    window.location.href ="/sales/update?client_name="+name+"&product_id="+productId+"&shop_id="+shopId+"&number="+number;
}
</script>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Sales table</a>
        </div>
    </div>
</nav>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Product name</th>
        <th>Price</th>
        <th>Number</th>
        <th>Shop name</th>
        <th>Shop address</th>
        <th>Client name</th>
        <th/>

    </tr>
    </thead>
    <tbody>
    {% if sales_list %}
    {% for sale in sales_list %}
    <tr onclick="update_sale('{{sale.client_name}}', {{sale.product_id}}, {{sale.shop_id}}, {{sale.item_numbers}})">
        <td>{{sale.product_name}}</td>
        <td>{{sale.product_price}}</td>
        <td>{{sale.item_numbers}}</td>
        <td>{{sale.shop_name}}</td>
        <td>{{sale.shop_address}}</td>
        <td>{{sale.client_name}}</td>
         <td>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
            {% endfor %}
    {% else %}
    <tr><td>No sales are available.</td><td/><td/><td/><td/><td/><td/></tr>
    {% endif %}
    </tbody>
</table>
<hr>
<div class="row" align="center">
    <div class="col-md-4">
        <form method="get" action="{{request.path}}add">
            <input type="submit" value="Add shop" class="btn btn-primary btn-lg"/>
        </form>
    </div>
  <div class="col-md-7" align="center" >
        <form  method="post" role="form" enctype="multipart/form-data" action="{{request.path}}add/">{% csrf_token %}
                     <div class="form-group"><input id="input-id" type="file" name="file" ></div>
        </form>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>