<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shops table</title>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<script src="{% static "jquery/jquery.min.js" %}" type="text/javascript"></script>
<script type="text/javascript">
function update_shop(id){
    window.location.href ="/shops/update?id="+id;
}
</script>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">{{title}}</a>
        </div>
        </div>
    </nav>
<form method="post" action="{{request.path}}finish">{% csrf_token %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Product name</th>
        <th>Number</th>
        <th>Shop name</th>
        <th>Shop address</th>
        <th>Client name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><select name="new_product_id">
            {% for product in products %}
            <option value="{{product.id}}" {% ifequal  product_id|add:0 product.id %}selected="selected"{% endifequal  %}>{{product.id}}</option>
            {%endfor%}
        </select> </td>
        <td><input type="text" name="item_numbers" value="{{item_numbers}}" placeholder="Item numbers"/></td>
        <td><select name="new_shop_id">
            {% for shop in shops %}
            <option value="{{shop.id}}" {% if shop_id|add:0 == shop.id %}selected{% endif %}>{{shop.name}}</option>
            {%endfor%}
        </select> </td>
        <td><select name="new_client_name">
            {% for client in clients %}
            <option value="{{client.name}}" {% if client_name == client.name %}selected={% endif %}>{{client.name}}</option>
            {%endfor%}
        </select> </td>
        <td><input type="submit" value="Update" class="btn btn-primary"/></td>
        <td><input type="hidden" name = "old_client_name" value="{{client_name}}"></td>
        <td><input type="hidden" name = "old_shop_id" value="{{shop_id}}"></td>
        <td><input type="hidden" name = "old_product_id" value="{{product_id}}"></td>

    </tr>
    </tbody>
</table>
</form>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>